
@model List<ECMS.Models.Entities.ProductModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-3 col-xl-2">
                                <h5>All Products (@Model.Count)</h5>
                            </div>
                            <div class="col-lg-3 col-xl-2">
                                <a href="@Url.Action("Create", "Product")" class="btn btn-primary mb-3 mb-lg-0"><i class='bx bxs-plus-square'></i>New Product</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 product-grid">
            @foreach(var product in Model)
            { 
                <div class="col">
                    <div class="card">
                        <a href="@Url.Action("Edit", "Product", new { id = product.id })" class="stretched-link"></a>
                        <img src="@Url.Content(product.thumbnail)" class="card-img-top" alt="...">
                        @if (@product.discount != null)
                        {
                            <div class="">
                                <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-@product.discount%</span></div>
                            </div>
                        }
                        <div class="card-body">
                            <h6 class="card-title cursor-pointer text-truncate">@product.name</h6>
                            <div class="clearfix">
                                <p class="mb-0 float-start"><strong>@product.sold</strong> Sold</p>
                                <p class="mb-0 float-end fw-bold">
                                    @if (@product.old_price > 0)
                                    {
                                        <span class="me-2 text-decoration-line-through text-secondary">$@product.old_price</span>
                                    }
                                    <span>$@product.new_price</span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div><!--end row-->


    </div>
</div>
<!--end page wrapper -->