@model IEnumerable<ECMS.Models.Entities.CartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Frontend.cshtml";
}


<!-- ======================= Product Detail ======================== -->
<section class="">
    <div class="container">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="text-center d-block mb-5">
                    <h2>Shopping Cart</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-12 col-lg-7 col-md-12">
                <form action="@Url.Action("UpdateCart", "ShoppingCart")" method="post">
                    <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x mb-4">

                        @foreach (var item in Model)
                        {
                            <input type="hidden" name="ProductIds[]" value="@item.ProductId" />

                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-3">
                                        <!-- Image -->
                                        <a><img src="@Url.Content(item.ProductImage ?? null)" alt="..." class="img-fluid"></a>
                                    </div>
                                    <div class="col d-flex align-items-center justify-content-between">
                                        <div class="cart_single_caption pl-2">
                                            <h4 class="product_title fs-md ft-medium mb-1 lh-1">@item.ProductName</h4>
                                            @if (item.ProductSize != null)
                                            {
                                                <p class="mb-1 lh-1"><span class="text-dark">Size: @item.ProductSize</span></p>
                                            }
                                            @if (item.ProductColor != null)
                                            {
                                                <p class="mb-3 lh-1"><span class="text-dark">Color: @item.ProductColor</span></p>
                                            }

                                            <h4 class="fs-md ft-medium mb-3 lh-1">$@item.Price</h4>
                                            <select class="mb-2 custom-select w-auto" name="Quantities[]">
                                                <option value="@item.Quantity" selected>@item.Quantity</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>

                                        <div class="fls_last"><a class="close_slide gray" href="@Url.Action("RemoveFromCart", "ShoppingCart", new { id = item.ProductId })"><i class="ti-close"></i></a></div>
                                    </div>
                                </div>
                            </li>
                        }


                    </ul>

                    <div class="row align-items-end justify-content-between mb-10 mb-md-0">
                        <div class="col-12 col-md-7">
                            <a class="btn-link text-dark ft-medium py-5" href="/">
                                <i class="ti-back-left mr-2"></i> Continue Shopping
                            </a>
                        </div>
                        <div class="col-12 col-md-auto mfliud">
                            <button type="submit" class="btn stretched-link borders">Update Cart</button>
                        </div>
                    </div>
                </form>
                
            </div>

            <div class="col-12 col-md-12 col-lg-4">
                <div class="card mb-4 gray mfliud">
                    <div class="card-body">
                        <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
                            <li class="list-group-item d-flex text-dark fs-sm ft-regular">
                                <span>Subtotal</span> <span class="ml-auto text-dark ft-medium">$@ViewBag.CartTotal</span>
                            </li>
                            <li class="list-group-item d-flex text-dark fs-sm ft-regular">
                                <span>Discount</span> &nbsp;
                                @if (@ViewBag.DiscountCoupon != null)
                                {
                                    <span>(@ViewBag.DiscountCoupon)</span>
                                }
                                <span class="ml-auto text-dark ft-medium">$@ViewBag.DiscountAmount</span>
                            </li>
                            <li class="list-group-item d-flex text-dark fs-sm ft-regular">
                                <span>Total</span> <span class="ml-auto text-dark ft-medium">$@(ViewBag.CartTotal-ViewBag.DiscountAmount)</span>
                            </li>
                            <li class="list-group-item fs-sm text-center">
                                Shipping cost Free *
                            </li>
                        </ul>
                    </div>
                </div>

                <a class="btn btn-block btn-dark mb-5" href="@Url.Action("Checkout")">Proceed to Checkout</a>



                <div class="col-12 col-md-12">
                    <!-- Coupon -->
                    <form action="@Url.Action("CouponApply", "ShoppingCart")" method="post" class="mb-7 mb-md-0">
                        <label class="fs-sm ft-medium text-dark">Coupon code:</label>
                        <div class="row form-row">
                            <div class="col">
                                <input class="form-control" type="text" name="couponcode" placeholder="Enter coupon code*" >
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-dark" type="submit">Apply</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>

        </div>

    </div>
</section>
<!-- ======================= Product Detail End ======================== -->
